#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  padding: 15rem 0; 
  text-align: center;
}

.container{
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

body{
  background-image: linear-gradient(45deg, rgba(137, 43, 226, 0.551), rgba(0, 0, 255, 0.633));
  margin: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
}

button, input{
  border-radius: 3px;
  height: 30px;
  width: 152px;
  margin: 0.5rem; 
  border: none;
  background-color: rgba(101, 101, 101, 0.199);
  cursor: pointer;
}
